@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');


:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;

    --brand-color: #fc0;
}


/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family);
    color: #353535;
    overflow-x: hidden;
}

.brand-btn {
    width: 200px;
}

.brand-bg-leanier-gradient {
    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
}

/* common css end */


/* nav start */

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem var(--brand-color);
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    transition: 0.2s;
}

.nav-item:hover {
    font-weight: 700;
    border-bottom: 3px solid var(--brand-color);
}

/* nav end */


/* hero strart */

.hero-text-container h5 {
    font-weight: 400;
    font-size: 24px;
    margin-right: 19px;
}

.hero-text-container h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
}

.hero-text-container p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
}

.follow-me p {
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
}

.follow-me-icon {
    background-color: #f4f4f4;
}

/* hero end */


/* about me start */

.about-me {
    margin-top: 144px;
}

.about-me-text h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
}

.about-me-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
}

/* about me end */


/* idea start */
.idea {
    margin-top: 150px;
    margin-bottom: 150px;
}

.idea .card {
    border: 0px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
}

.idea .card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;
}

/* idea end */

/* branding start */

.branding-text h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    color: #353535;
}

.branding-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
}

/* branding end */

/* service start */

.service-cards .card-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
}

.service-cards .card-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
}

.service-text h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
}
.service-text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
}

.service-count h4{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: #353535;
}
.service-count p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #353535;
}

/* service end */

/* experience start */
.experience{
    background-color: #fbfbfb;
}

.experience h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;
}

.experience-timeline h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}

.experience-timeline .company p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
}
.experience-timeline .designation p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
}
.experience-timeline .company {
    border-right: 2px dashed #7a7a7a;
    position: relative;
}
.experience-timeline .company::before {
    content: '';
    border: 2px dashed #7a7a7a;
    border-radius: 50%;
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0px;
    right: calc(-42px/2);
    background-color: white;
}
.experience-timeline .company::after {
    content: '';
    border-radius: 100%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(20px/2);
    right: calc(-20px/2);
    background-color: #52ab70;
}
.experience-timeline .company.green::after {
    background-color: #52ab70;
}
.experience-timeline .company.red::after {
    background-color: #f17676;
}
.experience-timeline .company.yellow::after {
    background-color: #ffd233;
}

/* experience end */





/* Responsive */
@media (max-width: 992px) {
    .hero-text-container h1 {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .hero-text-container h5 {
        font-size: 20px;
    }

    .hero-text-container h1 {
        font-size: 36px;
    }


    .about-me-text h1 {
        font-size: 36px;
    }

    .about-me-text p {
        font-size: 16px;
    }


    .service-text h2{
        font-size: 30px;
    }
    .service-text p{
        font-weight: 400;
        font-size: 15px;
        line-height: 180%;
    }
    .service-count h4{
        font-size: 24px;
        text-align: left;
    }


    .experience h2{
        font-size: 30px;
    }
    .experience-timeline h4{
        font-size: 20px;
    }

    .experience-timeline .company p{
        font-size: 16px;
    }
    .experience-timeline .designation p{
        font-size: 16px;
    }
    .experience-timeline .company {
        border-right: 0px;
        border-left: 2px dashed #7a7a7a;
        position: relative;
    }
    .experience-timeline .designation {
        border-right: 0px;
        border-left: 2px dashed #7a7a7a;
        position: relative;
    }
    .experience-timeline .company::before {
        left: calc(-42px/2);
    }
    .experience-timeline .company::after {
        left: calc(-20px/2);
    }
}

@media (max-width: 576px) {
    .brand-btn {
        width: 100%;
    }

    .hero-text-container h1, .about-me-text h1, .branding-text h1 {
        font-size: 32px;
    }

    .hero-text-container p {
        font-size: 18px;
    }

    .card {
        padding: 0.8rem;
    }

    .about-me img {
        width: 80%;
    }

}